<h1>Group information</h1>

<p>Group's name is </p>
<%= @group.name %> <br/>

<% unless @group.students.blank? %> 
	<p>Student's in this group are:</p>
	<ul>
	<% @group.students.each do |student| %> 
		<li><%= link_to "#{student.name if student.name}", student_path(student) %> 
	<% end %> 
	</ul>
<% else %> 
	<p>This group called '<%= @group.name if @group.name %>' has no students'</p>
<% end %> 

<p>Edit this group to assign students or change it's name: <%= link_to 'Edit', edit_group_path(@group) %> 
