/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div.flash.notice {
  width: 90%;
  min-height: 50px;
  padding: 10px;
  background-color: #dfffdf;
  border-color: #9fcf9f;
  color: #005f00;
}

/* In the application layout - applies to all the sites */

.wrapper { 
	font-family: "Helvetica", sans-serif; 
	color: 	rgb(105,105,105); 
	margin: 100px;
  letter-spacing: 150%; 
  line-height: 150%; 
}

.wrapper h1 {
	color: rgb(47,79,79); 
}

.wrapper a {
	color: rgb(47,79,79);
}